/* line 1, test.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, test.scss */
.cs-style-13 figure {
  overflow: hidden;
  position: relative;
  max-height: 400px;
}
/* line 17, test.scss */
.cs-style-13 figure {
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
}
/* line 20, test.scss */
.cs-style-13 figure img {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0);
}
/* line 29, test.scss */
.cs-style-13 figure figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
}
/* line 43, test.scss */
.cs-style-13 figure figcaption {
  padding: 3em;
  text-align: center;
}
/* line 46, test.scss */
.cs-style-13 figure h3 {
  padding: 30% 0 10px 0;
}
/* line 49, test.scss */
.cs-style-13 figure p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
/* line 57, test.scss */
.cs-style-13 figure:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 63, test.scss */
.cs-style-13 figure:hover figcaption::before, .cs-style-13 figure:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 70, test.scss */
.cs-style-13 h3, .cs-style-13 p, .cs-style-13 a {
  bottom: 490px;
  color: #fff;
  position: relative;
  text-align: center;
}
